name: CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        ruby: [2.7, '3.0', 3.1, 3.2, 3.3, 3.4]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - run: bundle exec rake test
